.me {
    list-style: inside;
    color: dimgrey;


}
* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: cornsilk;
}

#title {
    font-size: 40px;
}